{% extends 'articles/base.html' %}

  
{% block content %}

<div class="tm-header">
                    <!-- navbar -->
<br> <br>  <br> <br>


                        <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#tmNavbar">
                            &#9776;
                        </button>
                        
                        <div class="collapse navbar-toggleable-sm" >
                            <ul class="nav navbar-nav">
                                <li class="nav-item ">
                                    <a href="{%url 'articles:articles_list' %}" class="nav-link">Home-Blog</a>
                                </li>
                                <li class="nav-item active">
                                    <a  class="nav-link">Blog-edit</a>
                                </li>
                                
                                <li class="nav-item">
                                    <a href="{% url 'articles:about'%}"  class="nav-link">About</a>
                                </li>
                            </ul>                        
                        </div>
                        
                    </nav>  

</div>
<div class="container">
                <img  src="../../../static/img/cast.png" alt="Image" class="tm-margin-b-20 img-fluid">
        </div>



             <section class="tm-section">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-xs-center">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-3 col-xl-3">

                    </div>
                </div> <!-- row -->



    <h2>{{ article.title }}</h2>
    <h5><span class="glyphicon glyphicon-time"></span> Post by {{ article.author }}, {{ article.created_at }}</h5>
    <p>{{ article.description}}</p>
    <br><br>
    <a href="{% url 'articles:article_edit' article.pk %}" class="btn btn-warning">Edit Article</a>
    <a href="{% url 'articles:ad' article.pk %}" class="btn btn-warning"> delete Article</a>

{% endblock %}
